# Object files
*.o
*.i
*.s

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Back up files.
*.BAK
*~

# Project specific.
*.lis
*.cof
*.dbg
*.hex
*.lk
*.lst
*.mp
*.SRC
*BACKUP*
*.SchDocPreview
*.PcbDocPreview
*.PcbDoc.htm
*.pcbdoc_viewstate
*Thumbs.db
*autom4te*
*.deps*
*.in
*Makefile
*kate-swp
*PWM_Controller
*PWM_Test
